*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Press Start 2P', system-ui;
}

/* Red Container Div */
.redcontainerdiv{
    position: relative;
    display: inline-block;
}

/* Smaller Red Container Div */
.smallerredcontainerdiv{
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
}
/* Player Health Bar */
.playerhealthdiv{
    display: flex;
    justify-content: flex-end;
    position: relative;

    width: 100%;  
    border-top: 4px solid rgb(217, 206, 212); 
    border-bottom: 4px solid rgb(217, 206, 212); 
    border-left: 4px solid rgb(217, 206, 212); 
}

/* Player Health */
.playerhealth{
    background-color: rgb(221, 19, 19);
    height: 30px;
    width: 100%;
}
/* Player Barometer */
.playerhealthbarometer{
    position: absolute;
    background: rgb(56, 3, 45);
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    
}

/* Timer */
.timer {
background-color: rgb(28, 5, 5);
width: 100px;
height: 50px;
flex-shrink: 0;
display: flex;
align-items: center;
justify-content: center;
color: rgb(126, 116, 136);
border: 4px solid rgb(217, 206, 212);
}

/* Enemy Health Bar */
.enemyhealthdiv{
    position: relative;
    width: 100%;
    border-top: 4px solid rgb(217, 206, 212); 
    border-bottom: 4px solid rgb(217, 206, 212); 
    border-right: 4px solid rgb(217, 206, 212);
}

/* Enemy Health */
.enemyhealth{
    background-color: rgb(221, 19, 19);
    height: 30px;
}
/* Enemy Barometer */
.enemyhealthbarometer{
    position: absolute;
    background:  rgb(56, 3, 45);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* Unentschieden Div */
.unentschieden{
    position: absolute;
    color: white;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
}
.description{
    position: absolute;
    left: 200px;
    margin-top: 30px;
}
@media(max-width: 660px){
    body, html {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        height: 100vw;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }
    /* Mobile Steuerungstasten-Stil */

    .controls {
        position: fixed;
        bottom: 10px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    .controls button {
        background-color: #f0f0f0;
        border: 2px solid #333;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        font-size: 24px;
        margin: 0 10px;
    }
   

}
